.board {
    min-height: 35rem;
    height: auto;
    border: 1rem solid #7A378B;
    background: url('texture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    display: inline-flex;
    background-color: #0b032d; /* Green */
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    outline: none;
    border-radius: 5px;
    margin: 0.5rem;
}